<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 382px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-mail " style="height: 382px;"></div>
  <!-- /Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content contact-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">给我发信息</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <div class="row">
        <div class="col-md-8 contact-form-wrapper">
          <!-- Contact form -->
          <form id="contactForm" method="post" class="form" role="form" novalidate="novalidate">
            <!-- Form Field -->
            <div class="form-group">
              <input class="form-control required" id="name" name="name" placeholder="姓名" type="text" required="">
            </div>
            <!-- /Form Field -->
            <!-- Form Field -->
            <div class="form-group">
              <input class="form-control required" id="email" name="email" placeholder="Email" type="email" required="">
            </div>
            <!-- /Form Field -->
            <!-- Form Field -->
            <div class="form-group">
              <input class="form-control required" id="subject" type="text" name="subject" placeholder="标题" required="">
            </div>
            <!-- /Form Field -->
            <!-- Form Field -->
            <div class="form-group">
              <textarea class="form-control required" id="message" name="message" placeholder="说点什么" rows="5" required=""></textarea>
            </div>
            <!-- /Form Field -->
            <!-- Form Field -->
            <div class="form-group">
              <input type="submit" class="btn btn-default form-send" value="发送!" disabled="true">
            </div>  
            <!-- /Form Field -->
          </form>
          <!-- /Contact Form -->     
        </div>
        <!-- Contact infos -->                 
        <div class="col-md-4 contact-infos">
          <h4 class="contact-subtitle-1">Website</h4>
          <p>blog.yadfamily.com</p>
          <h4 class="contact-subtitle-1">手机</h4>
          <p>+86 12344566</p>
          <h4 class="contact-subtitle-1">Email</h4>
          <p>yi_xiaobin@163.com</p>
        </div>
        <!-- /Contact infos --> 
      </div>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 382px;"></div>
  <!--/ Margin Collum-->
</div>
<!-- /SECTION ITEM -->            

