<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point " style="height: 187px;"></div>
  <!-- / Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">专业技能</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <ul class="skills-list">
        <!-- item-list -->
        <li>
          <div class="progress">
            <div class="progress-bar progress-bar-2" role="progressbar" data-percent="90%" style="width: 90%;">
              <span class="sr-only">85% Complete</span>
            </div>
            <span class="progress-type">skill 1</span>
            <span class="progress-completed">85%</span>
          </div>
        </li>
        <!-- /item list -->
        <!-- item-list -->
        <li>
          <div class="progress" title="Doing my best!">
            <div class="progress-bar progress-bar-3" role="progressbar" data-percent="85%" style="width: 85%;">
              <span class="sr-only">80% Complete</span>
            </div>
            <span class="progress-type">skill 2</span>
            <span class="progress-completed">80%</span>
          </div>
        </li>
        <!-- /item list -->
      </ul>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM -->

<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point " style="height: 187px;"></div>
  <!-- /Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">编码技能</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <ul class="skills-list">
        <!-- item-list -->
        <li>
          <div class="progress">
            <div class="progress-bar" data-percent="85%" role="progressbar" style="width: 85%;">
              <span class="sr-only">95% Complete</span>
            </div>
            <span class="progress-type">language 1</span>
            <span class="progress-completed">95%</span>
          </div>
        </li>
        <!-- /item list -->
        <!-- item-list -->
        <li>
          <div class="progress">
            <div class="progress-bar progress-bar-2" data-percent="90%" role="progressbar" style="width: 90%;">
              <span class="sr-only">80% Complete</span>
            </div>
            <span class="progress-type">language 2</span>
            <span class="progress-completed">80%</span>
          </div>
        </li>
       <!-- /item list -->
      </ul>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM -->   

<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point " style="height: 187px;"></div>
  <!-- /Margin Collums (necessary for the timeline effect) -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">开发技能</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <ul class="skills-list">
        <!-- item-list -->
        <li>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percent="70%" style="width: 70%;">
              <span class="sr-only">85% Complete</span>
            </div>
            <span class="progress-type">skill 3</span>
            <span class="progress-completed">85%</span>
          </div>
        </li>
        <!-- /item list -->
        <!-- item-list -->
        <li>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-percent="70%" style="width: 70%;">
              <span class="sr-only">70% Complete</span>
            </div>
            <span class="progress-type">skill 4</span>
            <span class="progress-completed">70%</span>
          </div>
        </li>
        <!-- /item list -->
      </ul>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 187px;"></div>
  <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM --> 

