<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 164px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education " style="height: 164px;"></div>
  <!-- /Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content line-content-education">
      <!-- Graduation title -->
      <h3 class="section-item-title-1">major</h3>
      <!-- /Graduation title -->
      <!-- Graduation time -->
      <h4 class="graduation-time"><i class="fa fa-university"></i> school name - <span class="graduation-date">(0000.00 ~ 0000.00)</span></h4>
      <!-- /Graduation time -->
      <!-- content -->
      <div class="graduation-description">
        <p>primary school</p>
      </div>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 164px;"></div>
  <!-- /Margin Collum -->
</div>
<!-- /SECTION ITEM -->   
