<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 122px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point " style="height: 122px;"></div>
  <!-- /Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">coding</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <p>happy when start to coding</p>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 122px;"></div>
  <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM -->

<!-- SECTION ITEM -->
<div class="line row">
  <!-- Margin Collums (necessary for the timeline effect) -->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 122px;"></div>
  <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point " style="height: 122px;"></div>
  <!-- /Margin Collums -->
  <!-- Item Content -->
  <div class="col-md-8 content-wrap bg1">
    <div class="line-content">
      <!-- Subtitle -->
      <h3 class="section-item-title-1">family</h3>
      <!-- /Subtitle -->
      <!-- content -->
      <p>I love my wife. I love my daughter.</p>
      <!-- /Content -->
    </div>
  </div>
  <!-- /Item Content -->
  <!-- Margin Collum-->
  <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs" style="height: 122px;"></div>
  <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM -->   
