<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>
	<style type="text/css">
		@import url("/stylesheets/home.css");
	</style>
	<style type="text/css">
		@import url("/stylesheets/style.css");
	</style>
	<script type='text/javascript' src="/javascripts/jquery.min.js"></script>
	<script type='text/javascript' src="/javascripts/yad_blog.js"></script>
</head>
<body>
<div id="rap">
	<div id="headmenu">
		<ul>
			<li class="page_item page-item-355"><a href="about">About Me</a></li>
			<li><a href="/" title="Home">Home</a></li>
		</ul>
	</div>

	<div id="header">
		<div id="headerleft">
			<h1><a href="/"><%= title %></a></h1>
			<h2><%= subtitle %></h2>
		</div>

		<div id="headerright">
			<a href="feed.htm" title="GET MY FEED"></a>
		</div>
	</div>
