doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/home.css')
	body
		#rap
			#headmenu
				ul
					li.page_item
						a(href="#") About me
					li
						a(href="#") Home

			#header
				#headerleft
					h1 #{title}
					h2 #{subtitle}
				#headerright
					a(href="feed.htm" title="GET FEED")

			#content
				.datecomrap
					.date
					.commy

				.storywrap
					.post
						block content

			p.footprint
				@2014 yad(伊爱戴)
			script(scr="/javascripts/prettify.js")
			script(scr="/javascripts/launch.js")
