<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= title %></title>
<style type="text/css">
@import url("/stylesheets/home.css");
</style>
<style type="text/css">
@import url("/stylesheets/style.css");
</style>
<style type="text/css">
@import url("/stylesheets/master.css");
</style>
<style type="text/css">
@import url("/stylesheets/jquery.toolbars.css");
</style>
<style type="text/css">
@import url("/stylesheets/bootstrap.icons.css");
</style>
<script type='text/javascript' src="/javascripts/jquery.min.js"></script>
<script type='text/javascript' src="/javascripts/jquery.toolbar.js"></script>
<script type='text/javascript' src="/javascripts/ckeditor/ckeditor.js"></script>
<script type='text/javascript' src="/javascripts/ckeditor/adapters/jquery.js"></script>
<script type='text/javascript' src="/javascripts/yad_blog.js"></script>
<script type='text/javascript' src="/javascripts/yad_blog_master.js"></script>
</head>
<body>

<div id="options" style="display:none; width:36px; position:fixed; top:0; right:0;">
  <a id="btn-options" class="settings-button pressed">
    <span></span>
  </a>
</div>
<div id="toolbar-options" class="toolbar-icons" style="display:none;">
  <a href="#" onclick="logout()"><i class="icon-off"></i></a>
  <a href="#" onclick="openMember()"><i class="icon-user"></i></a>
  <a href="#" onclick="enterPost()"><i class="icon-edit"></i></a>
  <a href="#"><i class="icon-picture"></i></a>
  <a href="#" onclick="editAbout()"><i class="icon-home"></i></a>
</div>

<div id="rap">
  <div id="headmenu">
    <ul>
      <li><a href="javascript:about();">About</a></li>
      <li><a href="/master" title="Home">Home</a></li>
    </ul>
  </div>

  <div id="header">
    <div id="headerleft">
      <h1><a href="/master"><%= title %></a></h1>
      <h2><%= subtitle %></h2>
    </div>

    <div id="headerright">
      <a href="feed.htm" title="GET MY FEED"></a>
    </div>
  </div>
