<%- include master_header.htm %>

<%- include content.htm %>

<div id="login-box" class="login-popup">
  <form id="loginform" class="signin">
    <fieldset class="textbox">
      <label class="username">
        <span>家庭成员</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
      </label>
      <label class="password">
        <span>进家钥匙</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
      </label>
      <button class="submit button" type="button" onclick="login()" >开 门 喽</button>
      <span id="_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<div id="member-box" class="login-popup">
  <a href="javascript:closeMember();" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <form id="memberform" class="signin">
    <fieldset class="textbox">
      <label>
        <span style="width:50px;">名字:</span>
        <input id="family_name" name="family_name" value="" type="text">
      </label>
      <label>
        <span>钥匙:（为空时不做修改）</span>
        <input id="family_password" name="family_password" value="" type="password">
      </label>
      <label>
        <span>重复钥匙:</span>
        <input id="family_repassword" name="family_repassword" value="" type="password">
      </label>
      <label>
        <span style="width:150px;">Email:</span>
        <input id="family_email" name="family_email" value="" type="text">
      </label>
      <label>
        <span>QQ:</span>
        <input id="family_qq" name="family_qq" value="" type="text">
      </label>
      <label>
        <span>微博:</span>
        <input id="family_weibo" name="family_weibo" value="" type="text">
      </label>
      <label>
        <span>微信:</span>
        <input id="family_weico" name="family_weico" value="" type="text">
      </label>
      <p align="right">
      <button type="button" onclick="editMember()">确 定</button>
      <button type="button" onclick="resetMember()">放 弃</button>
      </p>
      <input type="hidden" id="family_id" name="family_id" value="" />
      <span id="family_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<div id="family-box" class="login-popup">
  <a href="javascript:closeFamily();" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <h3 id="family_title" style="font-size:16px;color: #999;"></h3>
  <form id="familyform" class="signin">
    <fieldset class="textbox">
      <label>
        <span style="width:50px;">名字:</span>
        <input id="a_family_name" name="a_family_name" value="" type="text">
      </label>
      <label>
        <span style="width:50px;">称号:</span>
        <select id="a_family_member_id" name="a_family_member_id">
          <option value="2">爸 爸</option>
          <option value="3">妈 妈</option>
          <option value="4">女 儿</option>
          <option value="5">儿 子</option>
        </select>
      </label>
      <label id="family_username_label">
        <span style="width:50px;">登陆名:</span>
        <input id="a_family_username" name="a_family_username" value="" type="text">
      </label>
      <label>
        <span>钥匙:</span>
        <input id="a_family_password" name="a_family_password" value="" type="password">
      </label>
      <label>
        <span>重复钥匙:</span>
        <input id="a_family_repassword" name="a_family_repassword" value="" type="password">
      </label>
      <label>
        <span style="width:150px;">Email:</span>
        <input id="a_family_email" name="a_family_email" value="" type="text">
      </label>
      <label>
        <span>QQ:</span>
        <input id="a_family_qq" name="a_family_qq" value="" type="text">
      </label>
      <label>
        <span>微博:</span>
        <input id="a_family_weibo" name="a_family_weibo" value="" type="text">
      </label>
      <label>
        <span>微信:</span>
        <input id="a_family_weico" name="a_family_weico" value="" type="text">
      </label>
      <p align="right">
      <button type="button" onclick="addFamily()">确 定</button>
      </p>
      <span id="a_family_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<div id="link-box" class="login-popup">
  <a href="javascript:closeLink();" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <h3 id="link_title" style="font-size:16px;color: #999;"></h3>
  <form id="linkform" class="signin">
    <fieldset class="textbox">
      <label>
        <span style="width:50px;">名 称:</span>
        <input id="a_link_name" name="a_link_name" value="" type="text">
      </label>
      <label>
        <span style="width:50px;">地 址:</span>
        <input id="a_link_url" name="a_link_url" value="" type="text">
      </label>
      <p align="right">
      <button type="button" onclick="addLink()">确 定</button>
      </p>
      <span id="a_link_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<div id="add-category-box" class="login-popup">
  <a href="javascript:closeAddCategory();" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <h3 id="a_category_title" style="font-size:16px;color: #999;"></h3>
  <form id="addcategoryform" class="signin">
    <fieldset class="textbox">
      <label>
        <span style="width:50px;">名 称:</span>
        <input id="a_category_name" name="a_category_name" value="" type="text">
      </label>
      <label>
        <span style="width:50px;">位 置:</span>
        <input id="a_category_path" name="a_category_path" value="" type="text">
      </label>
      <p align="right">
      <input type="hidden" id="a_category_id" name="a_category_id" value="" />
      <button type="button" onclick="addCategory()">确 定</button>
      </p>
      <span id="a_category_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<script>
  showLogin();
</script>

<%- include master_footer.htm %>
