<%- include master_header.htm %>

<%- include content.htm %>

<div id="login-box" class="login-popup">
  <form id="loginform" class="signin">
    <fieldset class="textbox">
      <label class="username">
        <span>家庭成员</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
      </label>
      <label class="password">
        <span>进家钥匙</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
      </label>
      <button class="submit button" type="button" onclick="login()" >开 门 喽</button>
      <span id="_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<div id="info-box" class="login-popup">
  <a href="javascript:closeInfo();" class="close"><img src="/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <form id="infoform" class="signin">
    <fieldset class="textbox">
      <label>
        <span style="width:50px;">名字:</span>
        <input id="family_name" name="family_name" value="" type="text">
      </label>
      <label>
        <span>钥匙:（为空时不做修改）</span>
        <input id="family_password" name="family_password" value="" type="password">
      </label>
      <label>
        <span>重复钥匙:</span>
        <input id="family_repassword" name="family_repassword" value="" type="password">
      </label>
      <label>
        <span style="width:150px;">Email:</span>
        <input id="family_email" name="family_email" value="" type="text">
      </label>
      <label>
        <span>QQ:</span>
        <input id="family_qq" name="family_qq" value="" type="text">
      </label>
      <label>
        <span>微博:</span>
        <input id="family_weibo" name="family_weibo" value="" type="text">
      </label>
      <label>
        <span>微信:</span>
        <input id="family_weico" name="family_weico" value="" type="text">
      </label>
      <p align="right">
      <button type="button" onclick="">确 定</button>
      <button type="button" onclick="">放 弃</button>
      </p>
      <span id="family_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<script>showLogin();</script>

<%- include master_footer.htm %>
