<%- include master_header.htm %>

<%- include content.htm %>

<div id="login-box" class="login-popup">
  <form id="loginform" class="signin">
    <fieldset class="textbox">
      <label class="username">
        <span>家庭成员</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
      </label>
      <label class="password">
        <span>进家钥匙</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
      </label>
      <button class="submit button" type="button" onclick="login()" >开 门 喽</button>
      <span id="_message" style="color:red;text-align:center;"></span>
    </fieldset>
  </form>
</div>

<script>showLogin();</script>

<%- include master_footer.htm %>
