# Eric Yi on 2014-05-08
# yi_xiaobin@163.com

[server]
host = 0.0.0.0
port = 9426
cached = off
session.expired = 60
url = 192.168.31.142
protocol = http
upload.path = upload
image.upload.path = image_upload

[blog]
article.path = articles
article.suffix = htm
article.summary.suffix = _summary
article.notfound = 文章没有找到
template.nofound = template_nofound
template.article = template_article
template.about = template_about
about.content = about_content
title = 伊爱戴@钟爱一生
subtitle = 媛媛心爱，苗苗心疼
auth = 伊爱戴
auth_alias = yad
email = yi_xiaobin@163.com
family.name = 家庭成员
category.name = 分类目录
recent.post.name = 近期文章
recent.post.preview = 15
recent.comment.name = 近期评论
recent.comment.preview = 10
link.name = 友情链接
page.size = 10
page.next = 老帖子
page.prev = 新帖子
recent.feed = 10
template.feed = template_feed
summary.min = 20

[database]
host = 127.0.0.1
port = 3306
username = yad
password = yad
name = yad_blog
max_conntions = 5

[log]
dir.path = logs
common.log = yad.log
error.log = error.log
level = info

