# Eric Yi on 2014-05-08
# yi_xiaobin@163.com

[server]
host = 0.0.0.0
port = 9426
cached = off

[blog]
article.path = articles
about.path = about.html
title = 伊爱戴@钟爱一生
subtitle = 媛媛心爱，苗苗心疼
auth = 伊爱戴
auth_alias = yad
email = yi_xiaobin@163.com
page.size = 10
page.next = 老帖子
page.prev = 新帖子

[database]
host = 127.0.0.1
port = 3306
username = yad
password = yad
name = yad_blog
max_conntions = 5

[log]
path = logs
level = info
